// Global styling for this template
html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    margin-top: 56px;
}


.text {
  &-black {
    color: black;
  }
  &-white {
    color: white;
  }
}

.full {
  &-border {
    &-none {
      outline: none !important;
      border: none !important;
      border-color: transparent !important;
    }
  }
}

.m {
  &-vh {
    &-80 {
      min-height: 80vh;
    }
  }
}
